[submodule "Additive"]
	path = Additive
	url = https://github.com/intergrav/Additive.git
[submodule "forgified-Additive"]
	path = forgified-Additive
	url = https://github.com/MenacingPerson/forgified-Additive.git
[submodule "Additive/"]
	url = https://github.com/skywardmc/additive.git
